<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

		<array>
			<string>&amp;#x1F625;,😥</string>
			<string>&amp;#x1F60F;,😏</string>
			<string>&amp;#x1F614;,😔</string>
			<string>&amp;#x1F601;,😁</string>
			<string>&amp;#x1F609;,😉</string>
			<string>&amp;#x1F631;,😱</string>
			<string>&amp;#x1F616;,😖</string>
			<string>&amp;#x1F61A;,😚</string>
			<string>&amp;#x1F61D;,😝</string>
			<string>&amp;#x1F613;,😓</string>
			<string>&amp;#x1F61C;,😜</string>
			<string>&amp;#x1F630;,😰</string>
			<string>&amp;#x1F637;,😷</string>
			<string>&amp;#x1F633;,😳</string>
			<string>&amp;#x1F62D;,😭</string>
			<string>&amp;#x1F621;,😡</string>
			<string>&amp;#x1F632;,😲</string>
			<string>&amp;#x1F60D;,😍</string>
			<string>&amp;#x1F618;,😘</string>
			<string>&amp;#x2764;,❤</string>
			<string>&amp;#x1F494;,💔</string>
			<string>&amp;#x1F498;,💘</string>
			<string>&amp;#x1F48F;,💏</string>
			<string>&amp;#x1F47C;,👼</string>
			<string>&amp;#x1F466;,👦</string>
			<string>&amp;#x1F467;,👧</string>
			<string>&amp;#x1F47B;,👻</string>

			<string>&amp;#x1F525;,🔥</string>
			<string>&amp;#x1F4A6;,💦</string>
			<string>&amp;#x1F4A4;,💤</string>
			<string>&amp;#x1F3A8;,🎨</string>
			<string>&amp;#x1F3B5;,🎵</string>
			<string>&amp;#x1F4A8;,💨</string>
			<string>&amp;#x1F4A9;,💩</string>
			<string>&amp;#x1F4A3;,💣</string>
			<string>&amp;#x1F44F;,👏</string>
			<string>&amp;#x1F64F;,🙏</string>
			<string>&amp;#x1F44A;,👊</string>
			<string>&amp;#x1F4AA;,💪</string>
			<string>&amp;#x270C;,✌</string>
			<string>&amp;#x1F44C;,👌</string>
			<string>&amp;#x1F44D;,👍</string>
			<string>&amp;#x1F44E;,👎</string>
			<string>&amp;#x1F440;,👀</string>
			<string>&amp;#x1F444;,👄</string>
			<string>&amp;#x1F35A;,🍚</string>
			<string>&amp;#x1F35D;,🍝</string>
			<string>&amp;#x1F373;,🍳</string>
			<string>&amp;#x1F354;,🍔</string>
			<string>&amp;#x1F35F;,🍟</string>
			<string>&amp;#x1F363;,🍣</string>
			<string>&amp;#x2615;,☕</string>
			<string>&amp;#x1F349;,🍉</string>
			<string>&amp;#x1F34E;,🍎</string>

			<string>&amp;#x1F353;,🍓</string>
			<string>&amp;#x1F383;,🎃</string>
			<string>&amp;#x1F374;,🍴</string>
			<string>&amp;#x1F382;,🎂</string>
			<string>&amp;#x1F;,🍦</string>
			<string>&amp;#x1F367;,🍧</string>
			<string>&amp;#x1F361;,🍡</string>
			<string>&amp;#x1F48A;,💊</string>
			<string>&amp;#x1F4B0;,💰</string>
			<string>&amp;#x1F385;,🎅</string>
			<string>&amp;#x1F384;,🎄</string>
			<string>&amp;#x1F514;,🔔</string>
			<string>&amp;#x1F388;,🎈</string>
			<string>&amp;#x1F339;,🌹</string>
			<string>&amp;#x1F490;,💐</string>
			<string>&amp;#x1F334;,🌴</string>
			<string>&amp;#x1F340;,🍀</string>
			<string>&amp;#x2600;,☀</string>
			<string>&amp;#x1F319;,🌙</string>
			<string>&amp;#x26A1;,⚡</string>
			<string>&amp;#x2614;,☔</string>
			<string>&amp;#x1F380;,🎀</string>
			<string>&amp;#x1F381;,🎁</string>
			<string>&amp;#x1F390;,🎐</string>
			<string>&amp;#x1F6AC;,🚬</string>
			<string>&amp;#x26BD;,⚽</string>
			<string>&amp;#x1F3C0;,🏀</string>
		</array>

</plist>
